/Installed Packages/0_package_control_loader.sublime-package
/Local/
/Backup/
/Packages/.logs/
/Packages/User/Package Control.cache/
/Packages/User/QuickXDev.cache/
/Index/

/Packages/User/Package Control.cache/
/Packages/User/QuickXDev.cache/
/Packages/User/oscrypto-ca-bundle.crt
/Packages/User/Package Control.last-run
/Packages/User/Package Control.merged-ca-bundle
/Packages/User/Package Control.user-ca-bundle
/Packages/Colorsublime - Themes/

*.tmTheme
/Cache/

